<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<%= form_with(url: articles_path, method: :get, data:{turbo_frame: 'articles'}) do |f|%>
  <%= f.label :query, 'Search for article'%>
  <%= f.text_field :query%>
<%end%>

<%= render 'articles', articles: @articles%>

<%= link_to "New article", new_article_path %>
